   	html, body {
		margin: 0;
		padding: 0;
		height: 100%;
	}

	.content-wrapper {
		min-height: 100%;
	}

	.content {
		padding-bottom: 100px;
	}

	.footer{
		background-color: #141414;
		height: 260px;
		width: 100%;
		margin-top: -260px;

	}

	.new-form{
		padding-top:60px;
		padding-left:80px;
		color: white;
	}

	.clss{
		padding-top: 5%;
	}

	.gota{
		padding-top: 6%;
		width: 100%;
		margin-right: auto;
		margin-left: auto;
	}

	.frame-lgn{
		text-align: center;
	}

	a{
		color: white;
		text-decoration: none;
	}

	a:hover{
		color: white;
		text-decoration: none;
	}

	a:link{	
		color: white;
		text-decoration: none;
	}

	a:visited{	
		color: grey;
		text-decoration: none;
	}

	a:active{
		color: grey;
		text-decoration: none;
	}